# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

service qti-media /vendor/bin/init.qti.media.sh
    class main
    user media
    group media
    disabled
    oneshot

on early-init
    setprop vendor.media.system.build_codename ${ro.build.version.release_or_codename}

on late-fs
    start qti-media

on post-fs-data
    setprop ro.media.xml_variant.codecs ${vendor.media.target_variant}
    setprop ro.media.xml_variant.codecs_performance ${vendor.media.target_variant}

on property:vendor.netflix.bsp_rev=*
    setprop ro.netflix.bsp_rev ${vendor.netflix.bsp_rev}

on property:vendor.mm.target.enable.qcom_parser=*
    setprop vendor.mm.enable.qcom_parser ${vendor.mm.target.enable.qcom_parser}
